[Desktop Entry]
Name=Zotero
Comment="Gestionnaire de références bibliographiques (version standalone)"
Exec=__ZOTERO_PATH__
Icon=accessories-dictionary
Type=Application
StartupNotify=true
Terminal=true
